.about{
    margin-top:120px !important;
}
.tour-guide i{
    margin-right: 20px;
    font-size: 20px;
    padding: 8px 10px;
    background: hsla(0,0%,68.6%,.3);
    border-radius: 10px;
    color: #afafaf;
    transition: all .3s;
    display: inline;
}
.tour-guide i:hover{
    background-color: #FF8E69;
    color:white;
}